.heroImgWrapper {
  @media (min-width: 48rem) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
  }
}

.heroImg {
  width: 100%;
  @media (min-width: 48rem) {
    border-radius: 12px;
  }
}
