@use 'sass:color';

$bg: #488e53;
$text: #fff;

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: color.adjust($bg, $lightness: 40%);
}

.banner {
  padding: 1rem 2rem;
  background: $bg;
  color: $text;
  font-size: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
