@use 'sass:color';

@import '../styles/index.scss';

$recipeBg: #ffffff;
$bg: var(--stone-100);

.container {
  background: $bg;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.recipeCard {
  display: flex;
  flex-direction: column;
  background: $recipeBg;
  @media (min-width: 768px) {
    margin: 7em 4em;
    border-radius: 12px;
  }

  @media (min-width: 1440px) {
    margin: 10em 25%;
  }
}

.heroImgWrapper {
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
  }
}

.heroImg {
  width: 100%;
  @media (min-width: 768px) {
    border-radius: 12px;
  }
}

.recipeDetailsWrapper {
  padding: 0 2em 2em 2em;
}

.recipeName {
  font-size: 2em;
  line-height: 100%;
  letter-spacing: 0;
  font-family: 'Young Serif';
  color: var(--stone-900);
  font-weight: 400;
}

.recipeDescription {
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 1em;
  line-height: 150%;
  color: var(--stone-600);
}
