@use 'sass:color';

@import '../styles/index.scss';

$recipeBg: #ffffff;
$bg: var(--stone-100);

.container {
  background: $bg;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.recipeCard {
  display: flex;
  flex-direction: column;
  background: $recipeBg;
  @media (min-width: 768px) {
    margin: 7em 4em;
    border-radius: 12px;
  }

  @media (min-width: 1440px) {
    margin: 10em 25%;
  }
}

.heroImgWrapper {
  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
  }
}

.heroImg {
  width: 100%;
  @media (min-width: 768px) {
    border-radius: 12px;
  }
}

.recipeDetailsWrapper {
  padding: 2em;
  display: flex;
  flex-direction: column;
}

.recipeName {
  font-size: 2em;
  line-height: 100%;
  letter-spacing: 0;
  font-family: 'Young Serif';
  color: var(--stone-900);
  font-weight: 400;
}

.recipeDescription {
  font-family: 'Outfit';
  font-weight: 400;
  font-size: 1em;
  line-height: 150%;
  color: var(--stone-600);
  padding: 2em 0;
}

.prepWrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  background: var(--rose-50);
  padding: 2em;
  border-radius: 12px;
}

.prepTitle {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: var(--rose-800);
}

.prepItems {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-inline-start: 1em;
  margin-inline-start: 0;
  padding-inline-start: 1em;
  list-style-position: outside;

  & li {
    padding-inline-start: 1.5em;
    line-height: var(--text-4-line-height);
  }

  & li::marker {
    font-size: var(--text-4-size);
    line-height: var(--text-4-line-height);
    vertical-align: middle; /* attempt to center */
    color: var(--stone-600);
    margin-right: 0.5em;
  }
}

.prepDescription {
  font-family: 'Outfit';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: var(--stone-600);
}

.bolded {
  font-weight: 700;
}
