@use 'utils';
@use 'fonts';
@import 'normalize.css';

/* 3) Global resets */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin-block: 0;
}

:root {
  /* Colors */
  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #e3ddd7;
  --brown: #854632;
  --white: #ffffff;

  /* Typography tokens */
  --text-1-size: #{utils.px2rem(40)};
  --text-1-line-height: 1;
  --text-1-letter: 0em;

  --text-2-size: #{utils.px2rem(28)};
  --text-2-line-height: 1;
  --text-2-letter: 0em;

  --text-3-size: #{utils.px2rem(20)};
  --text-3-line-height: 1;
  --text-3-letter: 0em;

  --text-4-size: #{utils.px2rem(16)};
  --text-4-line-height: 1.5;
  --text-4-letter: 0em;
}

/* 6) Base body styling */
body {
  margin: 0;
  font-family: 'Outfit', sans-serif;
  background: var(--white);
  color: var(--stone-900);
}

ul li::marker,
ol li::marker {
  color: var(--brown);

  font-family: 'Outfit', sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 150%;
}

ul li::marker {
  color: var(--brown);
  font-size: 1em;
  font-family: 'Outfit', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 1em;
  line-height: 150%;
}
